@import "../../node_modules/mq-scss/mq";

$sectionNumberColor: #ef483e;

.ftl {
  max-width: 730px;
  padding: 19px 0 0;

  & .ftl__unvarnished-wrapper_temperature {
    display: none;
  }

  & .ftl__field {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;

    & .ftl__field-address {
      display: flex;
      flex-direction: column;
      padding: 17px 0 0;

      & .ftl__field-address-wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 730px;

        & .ftl__field-address-text {
          font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 16px;
          color: #ffffff;
        }
      }
      & .ftl__field-address-address {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px 11px 2px 36px;
        position: relative;
        margin: 5px 0 0;
        background: #4b4b4f;
        min-height: 45px;

        &::before {
          position: absolute;
          top: 0;
          left: -2px;
          margin: 15px;
          content: "";
          width: 16px;
          height: 16px;
          background: url("../img/dot-grey.svg") center;
        }

        & .ftl__field-address-text {
          font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 19px;
          color: #cfcfcf;
        }

        & .ftl__field-address-button {
          box-sizing: border-box;
          margin: 0;
          padding: 4px 13px 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.05em;
          color: #ffffff;
          background: #717174;
          border: 0;
          border-radius: 2px;
          cursor: pointer;
        }

        & .ftl__field-address-button:hover {
          filter: opacity(.5);
        }

        & .ftl__field-address-addr-input {
          background: transparent;
        }
      }
    }

    & .page__wrapper_temperature {
      display: none;
    }

    & .ftl__checkbox-wrapper {
      display: flex;
    }

    & .ftl__row-wrapper {
      display: flex;
    }

    &:not(:first-child) {
      margin: 41px 0 0;
    }

    /* &.ftl__field_fullwidth {
      width: 100%;
    } */

    &.ftl__field_smallwidth {
      max-width: 364px;
    }

    & .ftl__legend {
      display: flex;
      align-items: center;
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #fff;

      @include mq(max, 440px) {
        font-size: 20px;
        line-height: 24px;
      }

      &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        width: 24px;
        height: 24px;
        background-color: $sectionNumberColor;
        font-size: 16px;
        line-height: 20px;
        border-radius: 50%;
      }

      &.ftl__legend_first::before {
        content: "1";
      }

      &.ftl__legend_second::before {
        content: "2";
      }

      &.ftl__legend_third::before {
        content: "3";
      }

      &.ftl__legend_fourth::before {
        content: "4";
      }
    }

    & .ftl__wrapper {
      display: flex;
      flex-direction: column;

      & .ftl__input-checkbox {
        /* display: none; */
        width: 0;
      }

      & .ftl__input-checkbox-pseudo {
        box-sizing: border-box;
        margin-right: 12px;
        width: 24px;
        height: 24px;
        background: transparent;
        border: 2px solid #fff;

        &.ftl__input-checkbox-pseudo_checked {
          border: 0;
          background: url("../img/check.svg") no-repeat center center, #ef483e;
        }
      }

      &.ftl__wrapper_row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 13px 0 0;
      }

      &.ftl__wrapper_margin {
        margin-right: 12px;
      }

      & .ftl__label {
        margin: 16px 0 7px;
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #fff;

        &.ftl__label_checkbox {
          height: 100%;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      & .ftl__input-text {
        box-sizing: border-box;
        min-height: 45px;
        padding: 5px 14px;
        outline: none;
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #000;

        &::-webkit-input-placeholder {
          font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #cfcfcf;
        }

        &::-moz-placeholder {
          font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #cfcfcf;
        }

        &:-ms-input-placeholder {
          font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #cfcfcf;
        }

        &::-ms-input-placeholder {
          font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #cfcfcf;
        }

        &::placeholder {
          font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #cfcfcf;
        }
      }

      & .ftl__input-text_small {
        max-width: 175px;

        @include mq(max, 440px) {
          max-width: 167px;
        }
      }

      & .ftl__input-text::-webkit-input-placeholder {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #cfcfcf;
      }

      & .ftl__input-text::-moz-placeholder {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #cfcfcf;
      }

      & .ftl__input-text:-ms-input-placeholder {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #cfcfcf;
      }

      & .ftl__input-text::-ms-input-placeholder {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #cfcfcf;
      }

      & .ftl__input-text::placeholder {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #cfcfcf;
      }

      & .ftl__select-wrapper {
        position: relative;
        // temporary
        &.ftl__45 {
          min-height: 45px;
        }

        &.ftl__select-wrapper_middle {
          max-width: 358px;

          @include mq(max, 440px) {
            width: 343px;
          }
        }

        &.ftl__select-wrapper_small {
          min-width: 172px;

          @include mq(max, 440px) {
            min-width: 165px;
          }
        }

        &::after {
          pointer-events: none;
          content: "";
          position: absolute;
          z-index: 1;
          top: 0;
          right: 0;
          width: 80px;
          height: 100%;
          background: url("../img/select-arrow.svg") no-repeat right 15px center,
            linear-gradient(to right, transparent, #fff 35%);
        }

        & .ftl__select {
          /* firefox hack to hide scrollbar */
          scrollbar-width: none;

          font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 100%;
          outline: none;
          min-height: 45px;
          padding: 0;
          text-indent: 14px;
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          border: 0;

          & .ftl__select-option {
            height: 28px;
            font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #000;
            text-indent: 14px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;

            &:first-child {
              font-size: 15px;
              line-height: 18px;
              height: 45px;
              &::after {
                pointer-events: none;
                content: "";
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                width: 50px;
                height: 45px;
                background: url("../img/select-arrow-disclosed.svg") no-repeat
                  right 15px center;
              }
            }

            &:not(:first-child):hover {
              background: #ef483e;
              color: #fff;
            }

            &.ftl__select-option_default {
              color: #cfcfcf;
            }
          }
        }
      }
    }
  }
}
