@import "../../node_modules/mq-scss/mq";

$bodyColor: #343539;
$fontColor: #fff;

.page {
  max-width: 1580px;
  background: $bodyColor;
  margin: 42px auto 0;
  padding: 0 10.7vw 0;

  @include mq(max, 940px) {
    padding: 0 6vw 0;
  }

  @include mq(max, 440px) {
    padding: 0 16px 0;
  }

  & .page__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    @include mq(max, 960px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  & .page__paragraph {
    max-width: 300px;
    padding: 24px;
    margin: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    background: #4b4b4f;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }

  & .page__title {
    margin: 0;
    color: $fontColor;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 68px;

    @include mq(max, 940px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
}
